@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-image: url("./assets/img/solitaire\ background.jpg");
  color: white;
}
.navbar {
  background-image: url("./assets/img/wooden\ nav.png");
  background-size: cover;
  color: white;
}
.navbar-brand,
h4 {
  font-family: "Style Script", cursive;
  color: white;
  font-size: x-large;
  text-shadow: 3px 0 #55000e;
}
.bubble-log {
  font-family: "Style Script", cursive;
  font-size: 25px;
  text-align: left;
  padding-left: 175px;
}
.number {
  font-style: italic;
}
.card-frame {
  height: 100px;
  padding: 5px;
  border-radius: 5%;
  margin-top: 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.card-frame {
  color: black;
  font-size: 25px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.custom-position {
  margin-top: -17px;
  margin-left: -14px;
  transform: rotate(180deg);
}
.draw-button {
  background-color: goldenrod;
  box-shadow: 2px 2px 4px rgb(145, 81, 21);
  font-weight: bold;
  width: 100px;
  color: rgb(155, 75, 0);
}
.sort-button {
  background-color: goldenrod;
  box-shadow: 2px 2px 4px rgb(145, 81, 21);
  font-weight: bold;
  color: rgb(155, 75, 0);
  width: 100px;
}
.new-button {
  background-color: goldenrod;
  box-shadow: 2px 2px 4px rgb(145, 81, 21);
  font-weight: bold;
  color: rgb(155, 75, 0);
  width: 100px;
}
.draw-button:hover,
.draw-button:active {
  background-color: gold;
  color: rgb(155, 75, 0);
}
.sort-button:hover,
.draw-button:active {
  background-color: gold;
  color: rgb(155, 75, 0);
}
.new-button:hover,
.draw-button:active {
  background-color: gold;
  color: rgb(155, 75, 0);
}
.card {
  width: 100px;
  height: 150px;
  border: 1px solid black;
  margin: 10px;
  text-align: center;
  display: inline-block;
}

.red {
  color: red;
}

.black {
  color: black;
}
.div-size {
  width: 4em;
  height: 6em;
  box-shadow: 0px 0px 10px var(--clr-gray-med);
  margin: 1em 1em 1em 0;
  background-color: white;
  border-radius: 5px;
}

#cardsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.lower {
  transform: rotate(180deg);
}
.center {
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}
