@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-image: url("./assets/img/solitaire\ background.jpg");
  color: white;
}
.navbar {
  background-image: url("./assets/img/wooden\ nav.png");
  background-size: cover;
  color: white;
}
.navbar-brand,
h4 {
  font-family: "Style Script", cursive;
  color: white;
  font-size: 1.8em;
  text-shadow: 3px 0 #55000e;
}
.bubble-log {
  font-family: "Style Script", cursive;
  font-size: 25px;
  text-align: left;
  padding-left: 175px;
}
.draw-button {
  background-color: goldenrod;
  box-shadow: 2px 2px 4px rgb(145, 81, 21);
  font-weight: bold;
  width: 100px;
  color: rgb(133, 65, 1);
}
.sort-button {
  background-color: goldenrod;
  box-shadow: 2px 2px 4px rgb(145, 81, 21);
  font-weight: bold;
  color: rgb(133, 65, 1);
  width: 100px;
}
.new-button {
  background-color: goldenrod;
  box-shadow: 2px 2px 4px rgb(145, 81, 21);
  font-weight: bold;
  color: rgb(133, 65, 1);
  width: 100px;
}
.draw-button:hover,
.draw-button:active {
  background-color: gold;
  color: rgb(155, 75, 0);
}
.sort-button:hover,
.draw-button:active {
  background-color: gold;
  color: rgb(155, 75, 0);
}
.new-button:hover,
.draw-button:active {
  background-color: gold;
  color: rgb(155, 75, 0);
}

.red {
  color: red;
}

.black {
  color: black;
}
.div-size {
  width: 4em;
  height: 6em;
  box-shadow: 0px 0px 10px var(--clr-gray-med);
  margin: 1em 1em 1em 0;
  background-color: white;
  border-radius: 5px;
}

#cardsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.sorted-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.upper,
.lower {
  font-size: 18px;
}
.lower {
  transform: rotate(180deg);
}
.center {
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}
.firstCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 6em;
  box-shadow: 0px 0px 10px rgb(141, 59, 4);
  margin: 1em 1em 1em 0;
  background-color: white;
  border-radius: 5px;
  color: black;
  font-weight: 800;
  font-size: 1em;
  background-image: url("./assets/img/card back orange.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
